.container {
  padding: 24px;
  max-width: 700px;
}

.navigation {
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}

.navigation :global(.button) {
  margin-right: 5px;
}

.navigation :global(.button):global(.active) {
  border-color: #3e8ed0;
  background-color: #3e8ed0;
  color: #fff;
}
